{{- $citationData := partial "helper/citation-data.html" . -}}
{{- $authorStr := delimit $citationData.authors ", " -}}
{{- $blogName := $citationData.blogName -}}
{{- $fullDate := $citationData.fullDate -}}
{{- $url := .Permalink | absURL -}}

<div class="citation-box">
  <h3 class="citation-box__title">Cite this post:</h3>
  <p class="citation-box__text">
    {{ $authorStr }}.
    "{{ .Title }}."
    <em>{{ $blogName }}</em>,
    {{ $fullDate }}.
    <a href="{{ $url }}">{{ $url }}</a>.
    {{ with $citationData.doi }}
      {{- $doiURL := printf "https://doi.org/%s" . -}}
      <a href="{{ $doiURL }}" target="_blank" rel="noopener">{{ $doiURL }}</a>.
    {{- end }}
  </p>
</div>
<script src="{{ "js/citation.js" | relURL }}" defer></script>
