{{ define "body-class" }}
    article-page
    {{- $TOCWidgetEnabled := false -}}
    {{- range .Site.Params.widgets.page -}}
        {{- if eq .type "toc" }}{{ $TOCWidgetEnabled = true }}{{ end -}}
    {{- end -}}
    {{- $TOCManuallyDisabled := eq .Params.toc false -}}
    {{- $TOCEnabled := and (not $TOCManuallyDisabled) $TOCWidgetEnabled -}}
    {{- $hasTOC := gt (len .TableOfContents) 50 -}}
    {{- $hasPostActions := eq .Section "blogs" -}}
    {{- .Scratch.Set "TOCEnabled" (and $TOCEnabled $hasTOC) -}}
    {{- .Scratch.Set "hasWidget" (or (and $TOCEnabled $hasTOC) $hasPostActions) -}}
{{ end }}

{{ define "main" }}
<article class="main-article {{ if .Params.image }}has-image{{ end }}">
  <header class="article-header">
    {{- $image := partial "helper/image" (dict "Image" .Params.image "Resources" .Resources) -}}
    {{ if $image }}
    <div class="article-image">
      <figure><a href="{{ $image.Permalink }}" class="image-link" data-pswp-width="{{ $image.Width }}" data-pswp-height="{{ $image.Height }}">
        <img src="{{ $image.Permalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" loading="eager" alt="Featured image: {{ .Title }}" title="{{ .Title }}" data-title-escaped="{{ .Title | htmlEscape }}" />
      </a></figure>
    </div>
    {{ end }}
    <div class="article-details">
      <h1 class="article-title">{{ .Title }}</h1>
      <div class="article-byline">
        {{ partial "article-authors.html" . }}
      </div>
      {{ partial "article-dates.html" . }}
      {{ partial "article-meta.html" . }}
    </div>
  </header>

  <section class="article-content">
    {{ $wrappedTable := printf "<div class=\"table-wrapper\">${1}</div>" }}
    {{ .Content | replaceRE "(<table>(?:.|\n)+?</table>)" $wrappedTable | safeHTML }}
  </section>

  <div class="article-extra">
    {{ partial "citation.html" . }}
    {{ partial "article-comments.html" . }}
  </div>
</article>

{{ if or .Params.math .Site.Params.article.math }}{{ partial "article/components/math.html" . }}{{ end }}
{{ partial "article/components/photoswipe" . }}
{{ partial "jsonld.html" . }}
{{ end }}

{{ define "right-sidebar" }}
  {{ if .Scratch.Get "hasWidget" }}{{ partial "sidebar/right.html" (dict "Context" . "Scope" "page") }}{{ end }}
{{ end }}
